.banner {
  // top banners
  &__top {
    justify-content: space-between;
    align-items: stretch;
    gap: 4rem;

    @include media(45em) {
      flex-direction: column;
    }

    & > div {
      flex-grow: 1;
      padding: 4rem;
      height: 40rem;
      min-height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      background-position: left;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: background-size 0.5s ease;

      @include media(45em) {
        width: 100%;
        max-width: 600px;
        height: 70vh;
        margin: 0 auto;
      }
      @include media(31.25em) {
        height: fit-content;
        aspect-ratio: 96/66;
      }

      &:hover {
        background-size: 104%;
        transition: background-size 1.5s ease;
      }
    }
  }
  &__new-collection {
    background-image: url(../assets/seller-offer-1.png);
  }
  &__weekly-offer {
    background-image: url(../assets/seller-offer-2.png);
  }
  // bottom showcase
  .banner__bottom {
    padding: 5rem 0;
    gap: 3rem;

    @include media(45em) {
      flex-direction: column;
    }
    & .col {
      align-items: start;
      gap: 3rem;

      &__title {
        color: $color-gray-1;
        font-size: 2.8rem;
      }
      &__item {
        justify-content: start;
        gap: 2rem;

        & picture {
          max-width: 40%;
          min-height: 25vh;
          overflow: hidden;
          position: relative;
        }
        & .col__img {
          display: block;
          max-width: 100%;
          object-fit: cover;
        }
        & .sale-tag {
          transform-origin: center;
          transform: scale(0.6) translate(55%, -20%) rotate(45deg);
        }
      }
    }
  }
}
