@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Marcellus&display=swap");
// font-family: 'Marcellus', serif;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
}
.container {
  width: min(calc(100% - 4rem), 1300px);
  margin-inline: auto;
}
a,
button {
  outline: 0;
}

.btn {
  background-color: $color-turqouise;
  border: none;
  padding: 1em 2em;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 4rem;
  display: block;

  &:hover {
    background-color: $color-pink;
  }

  & a {
    color: $color-white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tac {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Marcellus", serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scroll__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}

.star {
  gap: 2px;
  margin-right: 2rem;

  & img {
    width: 15px;
  }
}
