.footer {
  background-color: $color-white-2;
  padding-top: 4rem;

  &__top {
    justify-content: stretch;
    align-items: flex-start;
    padding-bottom: 5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba($color-gray-1, 0.1);
    }
  }
  &__col {
    flex-grow: 1;
    width: 25%;
    & .text {
      font-size: 1.4rem;
      margin: 1em 0;
    }
  }
  &__logo {
    max-width: 100%;
    width: 15rem;
  }
  &__col-title {
    color: $color-gray-1;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 4rem;

    &::after {
      content: "";
      display: block;
      width: 3rem;
      height: 1px;
      background-color: $color-gray-1;
      transform: translateY(2rem);
    }
  }
  &__list {
    list-style: none;
    gap: 1rem;
    align-items: start;
  }
  &__item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-gray-1;
    transition: all 0.25s ease;
    &:hover {
      color: $color-turqouise;
    }
  }
  &__copyright {
    padding: 2rem 0;
    justify-content: space-between;
    color: $color-gray-1;
    & p a {
      color: $color-gray-4;
      text-decoration: none;
      display: inline-block;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -5px;
        background-color: $color-gray-4;
        transform: scale(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after {
        transform: scale(1);
      }
    }
  }
}
