.hero {
  height: 100vh;
  background-image: url(../assets/banner.png);
  background-size: cover;
  background-position: right;

  @include media(45em) {
    background-position: center;
  }
  & .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 40%;
    margin-left: 10%;

    @include media(56.5em) {
      max-width: 55%;
    }
    @include media(45em) {
      max-width: 80%;
    }
  }
  &__subtitle {
    color: $color-black;
    letter-spacing: 2px;
  }
  &__title {
    margin: 1.5rem 0;
    font-size: 5.5rem;
    color: $color-black;

    @include media(56.5em) {
      font-size: 4.5rem;
    }
    @include media(45em) {
      font-size: 3.5rem;
    }
  }
  &__text {
    color: $color-gray-4;
  }
}
