.hero {
  height: 100vh;
  background-image: url(../assets/banner.png);
  background-size: cover;
  background-position: right;

  & .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 40%;
    margin-left: 10%;
  }
  &__subtitle {
    color: $color-black;
    letter-spacing: 2px;
  }
  &__title {
    margin: 1.5rem 0;
    font-size: 5.5rem;
    color: $color-black;
  }
  &__text {
    color: $color-gray-4;
  }
}
