.insta {
  padding: 10rem 0;
  &__heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: $color-gray-1;
  }
  &__hashtag {
    display: block;
    text-align: center;
    font-size: 2.4rem;
    color: $color-turqouise;
    margin-bottom: 3rem;
  }

  &__swiper {
    position: relative;
  }
  &__slide {
    max-height: fit-content;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      background-color: rgba($color-black, 0.8);
      position: absolute;
      inset: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease;
    }
    & svg {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transform: scale(1.5) translate(-37.5%, -37.5%);
      cursor: pointer;
      visibility: hidden;
      transition: visibility 0.2s ease 0.2s;

      &:hover .icon-stroke {
        stroke: $color-turqouise;
      }
    }
    &:hover {
      &::after {
        transform: translateY(0);
      }
      & svg {
        visibility: visible;
      }
      & .insta__pic {
        transform: scale(1.1);
      }
    }
  }
  &__pic {
    object-fit: cover;
    width: 100%;
    min-height: 20rem;
    display: block;
    transition: transform 1.5s ease;
    transform-origin: center;
  }
}

.insta__swiper:hover .swiper-button-prev,
.insta__swiper:hover .swiper-button-next {
  opacity: 1;
  transform: translateX(0);
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: all 0.3s ease;
}
.swiper-button-next {
  transform: translateX(-150%);
}
.swiper-button-prev {
  transform: translateX(150%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #3e9f8e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  background-color: #3e9f8e;
  color: white;
}
