.offer {
  padding-top: 2rem;

  &__heading {
    font-size: 4rem;
    color: $color-black;
    padding: 4rem 0;
    text-align: center;
  }

  &__card {
    overflow: hidden;
  }
  &__pic {
    width: 100%;
    overflow: hidden;
  }
  &__pic img {
    display: block;
    object-fit: cover;
    max-height: 70vh;
    transition: transform 1s ease;
    transform-origin: center;
  }
  &__pic:hover img {
    transform: scale(1.05);
  }
  &__intro {
    margin-top: 2rem;
    text-align: center;

    & p {
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-gray-4;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 0.5em 0;
    }
    & .name {
      font-size: 2.8rem;
      color: $color-gray-1;
      transition: color 0.2s;
      letter-spacing: 2px;
      cursor: default;
      font-weight: 300;

      &:hover {
        color: $color-turqouise;
      }
    }
  }
  &__btn {
    margin-inline: auto;
    &:hover {
      background-color: $color-black;
    }
  }
}
.swiper {
  width: 100%;
}
