//COLORS
$color-white: #ffffff;

$color-black: #000000;

$color-gray-1: #212529;
$color-gray-2: #343434;
$color-gray-3: #222222;
$color-gray-4: #666666;

$color-turqouise: #3e9f8e;

$color-blue: #2786b6;

$color-pink: #dab3a6;

$color-red-1: #e12c43;
$color-red-2: #ff0000;
